<ng-container *ngIf="isLoading$ | async; else moviesTmpl">
  <mat-spinner></mat-spinner>
</ng-container>

<ng-template #moviesTmpl>
  <ng-container *ngIf="movies$ | async as movies">
    <mat-card>
      <mat-card-content>
        <mat-list role="list">
          <ng-container *ngFor="let movie of movies">
            <mat-list-item (click)="goToMovie(movie.episode_id)">
              <a>{{ movie.title }}</a>
            </mat-list-item>
          </ng-container>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </ng-container>
</ng-template>
